
/* ==========================================================================
   1. Estilos Globales y Reseteo
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior:smooth;
}

body{
font-family:"basic-sans",sans-serif;

background-image:
linear-gradient(
rgba(255,255,255,0.65),
rgba(255,255,255,0.65)
),
url("/images/mainbg.webp");

background-size:cover;
background-position:center;
background-repeat:no-repeat;
}

.main-page-bg {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: 
    linear-gradient(
      rgba(255, 255, 255, 0.65),
      rgba(255, 255, 255, 0.65)
    ),
    url("/images/mainbg.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  
  background-attachment: fixed; 
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);

  animation: fadeInUp 0.8s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mobile-logo{
display:none;
}


.right-column{
  flex:1;

  display:flex;
  flex-direction:column;
  gap:30px;
}

.header {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: transparent;
}

.hero-highlights {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}



.hero-highlights li {
  background: #e3ece1;
  padding: 8px 16px;
  border-radius: 999px;
  font-size: 0.9rem;
  font-weight: 700;
  
}


.hero-subtitle{
font-size:1.2rem;
margin:20px 0;
max-width:700px;
}

.hero-highlights{
list-style:none;
padding:0;
margin: 10px 20px 30px 20px;
}


h1{
  font-family: "komet", sans-serif;
  font-weight: 800;
  font-size: 54px;
  color: #242424;
  line-height: 1;
  margin-top: 40px;
}

p{
  font-family: "basic-sans", sans-serif;
  font-weight: 400;
}

li:hover{
  color: #5fa820;
}

.hero-heading{
display:flex;
align-items:center;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

/* Elementos de Formulario Globales */

.benefits h2{
  margin-bottom: 20px;
  font-family: "komet-sc", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.benefits ul{
  margin-bottom: 20px;
  font-family: "basic-sans", sans-serif;
  font-weight: 400;
}

.herotitle{
    text-align: center;
    margin:30px 20px 10px 20px;
    font-size: 24px;
}

input, 
select {
  width: 100%;
  padding: 18px 16px;       /* 18px arriba/abajo (antes 14px) y 16px a los lados */
  border: 1px solid #ddd;
  border-radius: 12px;
  font-size: 1rem;
  margin-bottom: 8px;       /* Añade una separación extra por debajo si la necesitas */
}


.disclaimer{
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  color: #494949;
  line-height: 1.0;
}






/* ==========================================================================
   2. Componentes de Diseño y Estructura (Layout)
   ========================================================================== */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* ==========================================================================
   3. Navbar (navbar.tsx)
   ========================================================================== */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;

   position: sticky;
  top: 0;
  z-index: 100;
  
  background-color: rgba(255, 255, 255, 0.85) !important;

  -webkit-backdrop-filter: blur(20px) !important;
  backdrop-filter: blur(20px) !important;

  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  
  will-change: backdrop-filter;

  border-bottom: 1px solid #eeeeee;
 

}


.nav-links{
display:flex;
gap:2rem;
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: #02793f;
}

.logo img{
height:50px;
width:auto;
display:block;
}



.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #393b3c;
  font-family: "komet-sc", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}

.nav-links a:hover {
  color: #258e4a;
}


.call-button {
  display: inline-block;
  padding: .4rem 3rem .8rem 3rem;
  border-radius: 999px;
  background: #258e4a;
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.call-button::after {

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 22px;
  content: "🕿";
  opacity: 0 ;
  max-width: 0px; 
  transform: scale(0);
  display: inline-block;
  transition: all 0.3s ease;
}

.call-button:hover {
  gap: 16px;
  background-color: #5fa820;
}

.call-button:hover::after {
  opacity: 1;
  max-width: 20px; 
  transform: scale(1.1); 
  margin-left: 10px;
}

/* ==========================================================================
   4. Hero Section
   ========================================================================== */
.hero {
  padding: 80px 0;
}

.hero-content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 1200px;
  margin: auto;
  padding: 30px 30px;
}

.benefits {
  flex: 1;
  min-width: 300px;
}

.benefits ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.benefits li {
  margin-bottom: 8px;
  font-size: 18px;
}

.benefits img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ==========================================================================
   5. Formularios y Tarjetas (form.tsx)
   ========================================================================== */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}


.loan-form {
  flex: 1;
  min-width: 350px;
  padding: 32px;
  border-radius: 24px;
  background-image: linear-gradient(-45deg,#258e4a,#5fa820);
  box-shadow: 0 10px 40px rgba(0,0,0,.08);
  color: #fff;

  position: relative;
  overflow: hidden;
  
}

.loan-form input[type="text"],
.loan-form input[type="email"],
.loan-form select {
  background-color: #fcfcfc; /* Un blanco roto muy sutil para que contrasten con la tarjeta */
  border: 1px solid #e4e4e7;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}



.loan-form h2{
  color: #feffbd;
}

.loan-form h2,
.loan-form p{
  text-align:center;
}

.loan-form p {
  margin-top: 5px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255,255,255,.099);
  font-size: 14px;
}

.loan-form h3{
  margin: 15px 0;
  font-family: "basic-sans", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
}

.loan-form input{
  font-family: "basic-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.loan-form select{
  font-family: "basic-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #757587;
}



.loan-form button {
  border-radius: 14px; /* El formulario mantiene su botón más cuadrado */
  font-family: "komet-sc", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.form-step {
  opacity: 0;
  filter: blur(4px);

  position: absolute;
  width: 100%;

  pointer-events: none;

  transition:
    opacity .45s ease,
    filter .45s ease;
}

.form-step.active {
  opacity: 1;
  filter: blur(0);

  position: relative;
  pointer-events: auto;
}


.step-buttons {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.step-buttons button[type="button"]:first-child {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.4);
  flex: 0.4; 
  transition: background-color 0.2s ease;
}

.step-buttons button[type="button"]:first-child:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


button {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 999px;
  background: #393b3c;
  color: white;
  font-weight: 700;
  cursor: pointer;
  margin: 10px 0;
  font-family: sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.contact-card {

  margin: 40px;
  text-align: center;
  transition: transform 0.25s ease;
}

.contact-card:hover{
  transform: scale(1.04);
}

.info-card:hover{
  transform: scale(1.04);
}

.contact-card .btn-confirm {
  display: inline-block;
  width: 100%;
  max-width: 420px;
  margin-top: 20px;
  text-decoration: none;
  background-color: #393b3c;
  color: #fff;
  border-radius: 36px;
  padding: 20px;
  text-transform: uppercase;
  font-weight: 800;
  transition: all 0.25s ease;
}

.btn-confirm {
  display: block;
  width: 100%;
  margin-top: 20px;

  background-color: #393b3c;
  color: #fff;

  border-radius: 36px;
  padding: 20px;

  text-transform: uppercase;
  font-weight: 800;

  transition: all 0.25s ease;
}

.contact-card .btn-confirm:hover{
  background-color: #5fa820;
}



.terms {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 20px;
  font-size: 14px;
}

.terms input {
  width: auto; /* Evita que el checkbox o radio ocupe el 100% */
  margin-top: 4px;
}

  .form-error{
  background:#ffe5e5;
  color:#b10000;
  padding:12px;
  border-radius:12px;
  margin:1rem 0;
  font-size:.9rem;
}

/* ==========================================================================
   Estilos específicos para el Formulario 2 (Confirmación y Modos)
   ========================================================================== */

/* Contenedor para agrupar los campos en la pantalla de confirmación */
.confirmation-fields {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

/* Estilo para las etiquetas de los campos que ahora son visibles */
.loan-form label {
  font-family: "basic-sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  color: #feffbd; /* Mismo tono amarillo sutil de tus H2 para resaltar la etiqueta */
  margin-bottom: -4px; /* Acerca la etiqueta a su respectivo input */
  display: block;
}

/* Inputs bloqueados pero legibles (Read Only) */
.loan-form input.input-disabled {
  background-color: rgba(255, 255, 255, 0.15); /* Fondo semitransparente sobre el degradado */
  color: #ffffff; /* Texto blanco brillante */
  border: 1px solid rgba(255, 255, 255, 0.25); /* Borde sutil */
  cursor: not-allowed; /* Cursor que indica que no se puede editar */
  box-shadow: none;
  font-weight: 600; /* Un poco más grueso para que resalte la info del usuario */
}

/* Evitamos que el input disabled cambie de color al hacerle foco */
.loan-form input.input-disabled:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 0.25);
  box-shadow: none;
}


/* Estilos para campos específicos del paso 2 y 3 */
.currency-input {
  position: relative;
  display: flex;
  align-items: center;
}

.currency-input span {
  position: absolute;
  left: 16px;
  color: #757587; /* Mismo color del texto de tus select */
  font-weight: 700;
  z-index: 1;
}

.currency-input input {
  padding-left: 32px !important; /* Deja espacio para el símbolo de $ */
}

.checkbox-group {
  margin: 15px 0;
  display: flex;
  gap: 20px;
}

.checkbox-group label {
  color: #fff;
  text-transform: none;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.google-btn {
  background: linear-gradient(
    135deg,
    #EA4335,
    #FBBC05,
    #34A853,
    #4285F4
  );

  color: white;
  padding: 14px 28px;

  border: none;
  border-radius: 999px;

  font-weight: 600;
  text-decoration: none;

  display: block;

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-position 0.5s ease;

  background-size: 200% 200%;

  text-align: center;
  text-transform: uppercase;
  
  margin-top: 20px;
  padding: 15px 0;

  font-family: "komet-sc", sans-serif;
  font-weight: 800;
  font-size: 18px;
}

.homereviewbtn{
  max-width: 40%;
  margin: 10px auto;
}

.google-btn:hover {
  transform: translateY(-3px);

  background-position: right center;
}

.partner-image {

  border-radius: 6px;
  object-fit: cover;

  display: block;
  margin-left: auto;
  margin-right: auto;

  transition:
    transform .4s ease,
    box-shadow .4s ease;

    width: 100%;
}

.contact-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}

.contact-details,
.business-hours {
  margin: 25px 0;
}

.contact-details p,
.business-hours p {
  margin-bottom: 10px;
}

.contact-cta {
  margin-top: 25px;
  font-weight: 600;
}

.contact-details a {
  color: inherit;
  text-decoration: none;
}

.contact-details a:hover {
  text-decoration: underline;
}

/* ==========================================================================
   6. Footer y Disclosures (footer.tsx)
   ========================================================================== */
.footer {
  margin-top: 30px;
  padding: 60px 30px;
  background: #393b3c;
  color: white;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 1200px;
  margin: auto;
}

.footer-wide {
  flex: 2;
  min-width: 400px;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}

.footer-col a {
  color: #84ce72;
  text-decoration: none;
  font-family: "basic-sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.footer-col a:hover {
  color: #fff;
}

.disclosure-btn {
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #5fa820;
  font-weight: 600;
  cursor: pointer;
  font-family: "komet-sc", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.disclosures {
  margin-top: 20px;
  padding: 20px;
  max-height: 300px;
  overflow-y: auto;
  background: white;
  color: #393b3c;
  border-radius: 12px;
}

.disclosures p {
  margin-bottom: 18px;
  line-height: 1.6;
  font-family: "basic-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.disclosures h4 {
  margin-bottom: 12px;
  font-family: "komet-sc", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}

.disclosures li {
  margin-bottom: 12px;
}

/* Utilitarios sueltos */
.btn {
  display: inline-block;
  padding: 12px 24px;
}

.reviews-section{
  max-width:1200px;
  margin:40px auto;
  width:100%;
}

.reviews-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:12px;
margin-top:0;
margin-bottom: 0;
}

.reviewtitle{
  color: #c68b00;
  text-align: center;
  padding-right: 35px;
}

.review-card {
  position: relative;
  
  max-width:500px;
  padding: 0 24px 24px;
  
  border-radius: 20px;
  text-align: center;

  transition: transform 0.3s ease;
}

.header-line {
  position: relative;
  height: 1px;
  background: #ddd;
}


.divider {
  position: relative;
  height: 1px;
  background: #ddd;
  margin: 24px 0 32px;
}

.avatar {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  width: 50px;
  height: 50px;

  border-radius: 50%;
  object-fit: cover;
  padding: 5px;

  border: 1px solid #ddd;
  background-color: #fcfcfc;
}

.review-card:hover{
transform:translateY(-10px);
}

.stars{
margin-bottom:16px;
font-size:20px;
}

.review-card p{
line-height:1.6;
margin-bottom:20px;
font-family: "basic-sans", sans-serif;
font-weight: 400;
font-style: italic;
font-size: 18px;
}

.review-card span{
font-weight:700;
color:#c68b00;
font-family: "basic-sans", sans-serif;
font-weight: 700;
font-size: 14px;
}

.partner-card{

padding:24px;

border-radius:20px;


}

.partner-card h2{
text-align: center;
margin-bottom:20px;
font-family: "komet-sc", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.partner-card p{
margin-bottom:10px;
line-height:1.6;
font-family: "basic-sans", sans-serif;
font-weight: 400;
font-style: normal;
color: #242424;
}


.partner-content{
display:flex;
gap:40px;
margin-top:20px;
flex-wrap:wrap;
}

.partner-about{
flex:1;
min-width:200px;
}

.partner-about p{
  text-align: right;
}

.partner-hours{
flex:1;
min-width:150px;


padding-left:20px;
border-left:1px solid #a4a4a4;
}

.partner-hours h4{
margin-bottom:10px;

}

.partner-hours p{
margin-bottom:8px;
text-align: left;
}

.home-hero{
  display:grid;

  grid-template-columns:25% 50% 25%;

  width:100%;

  margin:0;
  padding:40px 0;

  align-items:end;

  overflow:hidden;
}

.hero-left,
.hero-right-image{
  position:relative;

  display:flex;
  align-items:flex-end;
}

.hero-left{
  justify-content:flex-start;
}

.hero-right-image{
  justify-content:flex-start;
}

.hero-side img{
  width:140%;
  max-width:none;

  height:auto;
  object-fit:contain;

  transition:transform .4s ease;
}

.hero-left img{
  transform:translateX(-20%);
}

.hero-right-img{
 transform:translateY(-15%);
}


.hero-center{
  display:flex;
  justify-content:center;

  position:relative;
  z-index:5;
}

.hero-center .loan-form{
  width:100%;
  max-width:650px;
}


/* ==========================================================================
  Home Reviews
   ========================================================================== */

.home-reviews-section-flow {
  display: block;
  clear: both;
  width: 100%;

  margin: 0 auto 40px auto;
  padding: 0;
  box-sizing: border-box;
  
}

.home-reviews-section-flow .reviewtitle {
  padding: 20px 0;
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: 0;
  margin-right: 0;
  background-color: #242424;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  
}

.home-reviews-grid-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 100%;
}


.home-reviews-grid-wrapper .review-card {
  width: 320px;
  max-width: 320px ;
  flex: none;
  background-color: transparent; /* Asegura el fondo blanco de la tarjeta */
}

.home-reviews-grid-wrapper .stars {
  color: #c68b00;
}

.steps-section{
  max-width:1600px;
  margin:40px auto;
  padding:0 20px;
  
}

.steps-title{
  text-align:center;
  margin-bottom:40px;

  font-family:"komet",sans-serif;
  font-weight: 800;
  font-size:38px;
  color: #242424;
}

.steps-container{
  display:flex;
  gap:24px;
  flex-wrap:wrap;

}

.step-card{
  flex:1;
  min-width:300px;

  padding:30px;
  border-radius:24px;

  background-image:linear-gradient(
    -45deg,
    #258e4a,
    #5fa820
  );

  box-shadow:0 10px 40px rgba(0,0,0,.08);

  color:white;

  transition:
    transform .3s ease,
    box-shadow .3s ease;

  position:relative;

  overflow:hidden;
}

.step-card:hover{
  transform:translateY(-8px);
}

.step-number{
  width:55px;
  height:55px;

  display:flex;
  align-items:center;
  justify-content:center;

  border-radius:50%;

  background:rgba(255,255,255,.15);

  font-size:24px;
  font-weight:800;

  margin:0 auto 20px auto;


   transition: all 0.3s ease;

}

.step-card:hover .step-number{
  background-color:#89c541;
  transform:scale(1.12);


}

.step-card h3{
  margin-bottom:14px;

  font-family:"komet-sc",sans-serif;
  font-size:20px;
  text-align: center;
}

.step-card p{
  font-size:14px;
  line-height:1.6;
  text-align: center;
}

.keep-driving{
  max-width:1200px;

  margin:100px auto 0 auto;
  padding: 0 40px;

  display:flex;
  align-items:center;


  background: transparent;

}

.keep-driving-content h2{
  font-family: "komet", sans-serif;
  font-weight: 800;
  font-size: 42px;
  margin-bottom: 20px;
}

.keep-driving-content p{

  margin-bottom: 20px;
}

.keep-driving-image{
  flex:1;
}

.keep-driving-image img{
  width:100%;
  max-width:400px;
  height:auto;

  display:block;
  margin:auto;
}

.keep-driving-content{
  flex:1;
}

.highlight-tag{
  display:inline-block;

  padding:8px 18px;

  margin-bottom:20px;

  border-radius:999px;

  background:#eef8e7;

  color:#258e4a;

  font-size:.9rem;
  font-weight:700;
}

.highlight-tag-credit{
  display:inline-block;

  padding:8px 18px;

  margin-bottom:20px;

  border-radius:999px;

  background:#f8e0dd;

  color:#d13d3d;

  font-size:.9rem;
  font-weight:700;
}

.final-cta{
  max-width:100%;

  margin:100px auto 60px auto;

  padding:60px 40px;

  text-align:center;

  background-image:
  linear-gradient(
    -45deg,
    #258e4a,
    #5fa820
  );

  color:white;

  box-shadow:0 10px 40px rgba(0,0,0,.08);
}

.final-cta h2{

  font-family: "komet", sans-serif;
  font-weight: 800;
  margin-bottom:16px;
  font-size:42px;
  color:#fff;
}

.final-cta p{
  max-width:600px;

  margin:0 auto 30px;

  line-height:1.7;
}

.apply-button{
  display:inline-block;

  padding:16px 36px;

  border-radius:999px;

  background:#393b3c;

  color:#fff;

  font-weight:800;

  text-decoration:none;

  transition:all .3s ease;
}

.apply-button:hover{
  transform:translateY(-4px);
}

.back-top{
  display:block;

  margin-top:25px;

  color:rgba(255,255,255,.85);

  text-decoration:none;

  font-size:.95rem;
}

.back-top:hover{
  color:white;
}

.hero-highlights-mobile{
  display:none;
}

/* =========================
   FAQ WRAPPER
========================= */

.faq-wrapper {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 20px 0;
  
}

/* =========================
   FAQ ITEM
========================= */

.faq-item {

  border-radius: 10px;
  overflow: hidden;
  background: #393b3c;

  backdrop-filter: blur(8px);

  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
  
  
}

.faq-item:hover {

  transform: translateY(-2px);
}

.faq-item.active {
  background-color: #5fa820;
  

}

/* =========================
   QUESTION BUTTON
========================= */

.faq-question {
  width: 100%;
  border: none;
  background: transparent;
  

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 36px;

  cursor: pointer;

  text-align: left;

  color: #fff;
  font-family: "komet-sc", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1;

  transition: background-color 0.25s ease;
}

.faq-question:hover {
  background: rgba(255, 255, 255, 0.02);
}

/* =========================
   ICON
========================= */

.faq-icon {
  font-size: 28px;
  font-weight: 300;
  color: #fff;

  transition:
    transform 0.3s ease,
    opacity 0.2s ease;

  flex-shrink: 0;
  margin-left: 20px;
}

.faq-item.active .faq-icon {
  transform: rotate(45deg);
}

/* =========================
   ANSWER ANIMATION
========================= */

.faq-answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;

  transition:
    max-height 0.35s ease,
    opacity 0.25s ease;
}

.faq-item.active .faq-answer {
  max-height: 350px; 
  opacity: 1;
}

.faq-answer p {
  overflow: hidden;

  margin: 0;
  padding: 0 36px 24px;

  color: #fff;

  font-size: 16px;
  line-height: 1;
  font-weight: 400;
}

.tabs {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
  width: 78%;
  margin-left: auto;
  margin-right: auto;
}

.pill {
  padding: 8px 16px;
  border-radius: 999px;
  border: 1px solid rgba(255,255,255,0.2);
  background: #393b3c;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.pill:hover {
  transform: translateY(-1px);
}

.pill.active {
  background: #5fa820;
  border-color: #5fa820;
}

.partners-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 18px;
  margin-top: 30px;
  padding: 0 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.partner-card {
  background: transparent;
  border-radius: 16px;
  overflow: hidden;

  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.partners-card {
  background: #393b3c;
  border-radius: 16px;
  overflow: hidden;
  color: #fff;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  padding: 20px;
}

.partners-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.45);
}


.partner-img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  display: block;
}

.partner-content {
  padding: 14px 14px 18px;
  color: white;
  font-family: "komet-sc", sans-serif;
}

.partner-content h3 {
  margin: 0 0 4px;
  font-size: 18px;
  font-weight: 800;
}

.partner-location {
  margin: 0;
  font-size: 14px;
  opacity: 0.8;
}

.partner-address {
  margin: 10px 0;
  font-size: 13px;
  opacity: 0.7;
}

.partner-cta {
  display: inline-block;
  margin-top: 10px;

  background: #5fa820;
  color: white;

  padding: 8px 12px;
  border-radius: 999px;

  text-decoration: none;
  font-size: 13px;

  transition: transform 0.2s ease;
}

.partner-cta:hover {
  transform: translateY(-1px);
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 30px;
}

.modal {
  background: #393b3c;
  border-radius: 16px;
  width: 100%;
  max-width: 520px;
  padding: 30px;
  position: relative;

  color: white;
  animation: pop 0.2s ease;
}

.modal-close {
  position: absolute;
  bottom: 10px;
  left: 0px;

  background: none;
  border: none;
  color: white;
  font-size: 20px;

  cursor: pointer;
}

.modal-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 12px;
}

.modal h2 {
  margin: 10px 0 4px;
}

.modal-hours p,
.modal-address,
.modal-phone {
  font-size: 14px;
  opacity: 0.85;
}

.modal-cta a {
  display: inline-block;
  margin-top: 12px;
  padding: 10px 14px;
  background: #5fa820;
  border-radius: 999px;
  color: white;
  text-decoration: none;
}

.progress-container {
  margin: 2rem 0;
}

.progress-line {
  height: 4px;
  background: #e5e7eb;
  border-radius: 999px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: #22c55e;
  transition: width 0.4s ease;
}

.progress-fill.step-1 { width: 25%; }
.progress-fill.step-2 { width: 50%; }
.progress-fill.step-3 { width: 75%; }
.progress-fill.step-4 { width: 100%; }

.steps {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.step {
  text-align: center;
  color: #9ca3af;
}

.step.completed {
  color: #22c55e;
  font-weight: 600;
}

.timeline-wrapper {
  position: relative;
  max-width: 700px;
  margin: 0 auto 10px;
}

.timeline {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.timeline-line {
  position: absolute;
  top: 20px;
  left: 10%;
  width: 80%;
  height: 4px;
  background: #d1d5db;
  z-index: 1;
}

.timeline-fill {
  height: 100%;
  background: #258e4a;
  width: 0;
  transition: width 0.8s ease;
}

.timeline-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}


.thank-you-page {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px 20px 20px;
}

.thank-you-card {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  background: transparent;
  border-radius: 24px;
  padding: 0 50px;
  
}


.thank-you-card h1 {
  margin-bottom: 16px;
}

.lead {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.cta-box {
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 28px;
  border-radius: 18px;
  background: #e4ecdc;
  border: 1px solid #e4efe7;
  box-shadow: 0 20px 50px rgba(0,0,0,0.08);
}

.cta-box h3 {
  margin-bottom: 12px;
}

.cta-box p {
  margin-bottom: 20px;
}

.cta-box small {
  display: block;
  margin-top: 12px;
  opacity: .7;
}

.form-container {
  margin-top: 50px;
}

.fade-in {
  animation: fadeUp .5s ease forwards; /* 👈 Agrega forwards aquí */
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(16px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes activateStep {
  0% {
    transform: scale(0.7);
  }

  60% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

/* 1. Base del círculo unificada */
.circle {
  width: 44px;
  height: 44px;
  border-radius: 999px;
  color: #6b7280; /* Texto gris por defecto */
  background: #e5e7eb; /* Fondo gris base */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  transform: scale(0.9);
  transition: all 0.5s ease;
  
  /* Configuración para el truco del llenado */
  background-image: linear-gradient(#258e4a, #258e4a);
  background-size: 0% 100%; /* Empieza vacío (0% de ancho) */
  background-repeat: no-repeat;
}

/* 2. Cuando el paso está completado (Llenado instantáneo o mantiene estado) */
.timeline-step.completed .circle {
  background-size: 100% 100%;
  color: white;
  transform: scale(1);
}

/* 3. Cuando el paso se vuelve ACTIVO (Dispara la animación de llenado y pop) */
.timeline-step.active .circle {
  color: white;
  animation: fillCircle 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards, 
             activateStep 0.6s ease forwards;
}



/* Animación que expande el fondo verde de izquierda a derecha */
@keyframes fillCircle {
  from {
    background-size: 0% 100%;
  }
  to {
    background-size: 100% 100%;
  }
}

/* Tu animación de escalado corregida con forwards para mantener el tamaño grande */
@keyframes activateStep {
  0% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1.15); /* Efecto rebote */
  }
  100% {
    transform: scale(1.1); /* Se queda un toque más grande por ser el paso activo */
  }
}

.review-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin: 40px 0;
}

.info-card h3{
  margin: 10px;
  font-family: "komet-sc";
  font-size: 20px;
}

.info-card p{
  padding: 10px 30px;
}

.info-card {
  background-image: linear-gradient(-45deg,#258e4a,#5fa820);
  border-radius: 20px;
  padding: 28px;
  color: #fff;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,.08);
  transition: transform 0.25s ease;
}


.info-card ul {
  list-style: none;
  padding: 0;
}

.info-card li:hover{
  color: #fcff00;
}


.legal-content section {
  scroll-margin-top: 100px; 
}

.legal-content h2 {
  scroll-margin-top: 100px; 
}

.legal-header h1 {
  font-size: 36px;
  margin-bottom: 6px;
}

.legal-updated {
  font-size: 13px;
  color: #777;
  margin-bottom: 30px;
}

.legal-content h2 {
  margin-top: 28px;
  margin-bottom: 12px;
  font-size: 22px;
  font-weight: 700;
}


.legal-content h3 {
  margin-top: 28px;
  margin-bottom: 12px;

}

.legal-content p {
  line-height: 1.2;
  color: #333;
  margin-bottom: 12px;
}

.legal-wrapper {
  display: flex;
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 20px;
}

.toc {
  position: sticky;
  top: 100px;
  width: 220px;
  height: fit-content;
  font-size: 14px;
}

.toc-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.toc ul {
  list-style: none;
  padding: 0;
  
}

.toc li {
  margin-bottom: 8px;
}

.toc a {
  color: #555;
  text-decoration: none;
}

.toc a:hover {
  color: black;
}

.legal-container {
  flex: 1;
  background: white;
  padding: 40px 60px 40px 60px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.06);
}

.legal-container ul{
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.legal-container a{
  text-decoration: none;
  color: #34A853;
  font-weight: 800;
}

.toc a {
  color: #666;
  text-decoration: none;
  transition: all 0.2s ease;
  display: inline-block;
  padding: 2px 6px;
  border-radius: 6px;
}

.toc a:hover {
  color: black;
}

.toc a.active {
  color: black;
  font-weight: 600;
  background: rgba(0,0,0,0.06);
}

.download-links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.download-links a {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #02793f; /* Cambia al color de tu web */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
  transition: background 0.2s;
  margin-bottom: 20px;
}

.download-links a:hover {
  background-color: #34A853;
}


@media(max-width:768px){

    .header{
    display:flex;
    flex-direction:column;
  }

  .home-hero{
    order:-1;
  }

  .hero-highlights{
    order:2;
  }

  .hero-heading {
    font-size: 38px;
    line-height: 1;
    margin: 0 auto;
    padding: 0;
  }

  .hero-highlights{
  width: 100%; 
  }

  .hero-highlights li{
    margin: 0 auto;
      width: 60%; 
  }

  .hero-content{
  flex-direction:column;
}

.right-column{
  display:contents;
}

.application-area{
  order: -1;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar img{
  display: none;
}

.mobile-logo{
display:flex;
justify-content:center;
margin-bottom:0;
margin-top: 25px;
}

.hero-content{
padding:40px 20px;
text-align: center;
}

.home-hero{
    display:flex;
    flex-direction:column;
  }

  .hero-side{
    display:none;
  }

  .hero-center{
    width:100%;
  }

    .home-content{
    display:flex;
    flex-direction:column;
  }

h1{
font-size:3rem;
}

.form-card{
min-width:100%;
}

.navbar{
  padding: 1rem;
  
  flex-wrap: wrap;
  gap: 1rem;

  justify-content:center;
}

.logo{
  width:100%;
  display:flex;
  justify-content:center;
}

.nav-links{
  gap:1rem;
  
  flex-wrap:wrap;
  justify-content:center;
}

.nav-links a{
  font-size:16px;
}

.call-button{
  padding:.3rem 1.5rem .6rem 1.5rem;
  font-size:14px;
}

 .home-reviews .reviews-grid{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  
  gap:24px;
  margin:40px auto;
  }

  .steps-container{
    flex-direction:column;
  }

  .keep-driving{
  flex-direction:column;
  text-align:center;
  margin: 40px auto 10px auto;
  padding:30px;
}

.keep-driving-content h2{
  font-size:36px;
}

.keep-driving img{
  margin-top: 0;
  margin-bottom: 30px;
  border-bottom: 3px solid #ddd;
}

.main-copy,
.secondary-copy{
  text-align:center;
}

  .hero-highlights{
    display:none;
  }

   .hero-highlights-mobile{
    display:flex !important;
    flex-direction:column;

    gap:12px;

    list-style:none;

    width:100%;

    margin:24px 0 0;
    padding:0 16px;
  }

  .hero-highlights-mobile li{
    width:100%;

    background:#e3ece1;

    padding:12px 18px;

    border-radius:999px;

    font-size:.9rem;
    font-weight:700;

    text-align:center;
  }

  /* aire alrededor del form */
  .hero-center{
    width:100%;
    padding:0 20px;
  }

  .hero-center .loan-form{
    min-width:unset;
    width:100%;
  }


   .homereviewbtn{
    width: 100%;
   }

   .review-grid {
    grid-template-columns: 1fr;
  }

}